.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}

.login-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.1rem;
}

.login-form .form-group input {
  padding: 7px;
}

.login-form .form-group .error-container {
  color: rgb(255, 74, 74);
  font-size: 0.9rem;
}

.login-form button {
  align-self: center;
  padding: 10px 20px;
  font-size: 1.1rem;
}

.login-form button:disabled {
  cursor: not-allowed;
  color: rgb(184, 184, 184);
  background-color: #265c6e;
}
