:root {
  --app-bg-color: rgb(37, 37, 37);
  --app-text-color: #fff;
  --container-max-width: 1000px;
  --color-primary: #378aa5;
  --color-secondary: #be8b54;
}

body {
  background-color: var(--app-bg-color);
  color: var(--app-text-color);
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  font-family: inherit;
  padding: 7px 10px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font-size: inherit;
  font-family: inherit;
}

.container {
  max-width: var(--container-max-width);
  margin: auto;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.primary-btn {
  background-color: var(--color-primary);
}

.secondary-btn {
  background-color: var(--color-secondary);
}
